<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="books_styles.css">
    <title>Books App</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-custom fixed-top">
        <div class="navbar-brand mb-0 h1 pl-4">Weather Forecast</div>
        <button class="navbar-toggler justify-content-end" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item mx-3">
                    <a class="nav-link active" href="/">Weather</a>
                </li>
                <li class="nav-item mx-3">
                    <a class="nav-link active" href="/books">Book Bestsellers</a>
                </li>
                <li class="nav-item mx-3">
                    <a class="nav-link active" href="/">2API</a>
                </li>
            </ul>
        </div>
    </nav>
    
    <h1 class="pt-5">NYT Best Sellers Lists</h1>

    <h2>Hardcover Fiction</h2>
    <ul id="hardcoverFictionList" class="books-list"></ul>

    <h2>Hardcover Nonfiction</h2>
    <ul id="hardcoverNonfictionList" class="books-list"></ul>

    <script>
        // Fetch and display NYT Best Sellers List - Hardcover Fiction
        fetch('/bestsellers?type=hardcover-fiction')
            .then(response => response.json())
            .then(books => {
                const hardcoverFictionList = document.getElementById('hardcoverFictionList');
                books.forEach(book => {
                    const listItem = document.createElement('li');
                    listItem.className = 'book-item';
                    listItem.innerHTML = `
                        <p class="book-title">${book.title}</p>
                        <p class="book-author">by ${book.author}</p>
                        <p class="book-description">${book.description}</p>
                    `;
                    hardcoverFictionList.appendChild(listItem);
                });
            })
            .catch(error => console.error('Error fetching Hardcover Fiction list:', error));

        // Fetch and display NYT Best Sellers List - Hardcover Nonfiction
        fetch('/bestsellers?type=hardcover-nonfiction')
            .then(response => response.json())
            .then(books => {
                const hardcoverNonfictionList = document.getElementById('hardcoverNonfictionList');
                books.forEach(book => {
                    const listItem = document.createElement('li');
                    listItem.className = 'book-item';
                    listItem.innerHTML = `
                        <p class="book-title">${book.title}</p>
                        <p class="book-author">by ${book.author}</p>
                        <p class="book-description">${book.description}</p>
                    `;
                    hardcoverNonfictionList.appendChild(listItem);
                });
            })
            .catch(error => console.error('Error fetching Hardcover Nonfiction list:', error));
    </script>
</body>
</html>
