body {
    font-family: 'Inter', sans-serif;
    background-color: #73b1c1;
    margin: 0;
    padding: 0;
    padding-top: 50px;
}

.navbar {
    background-color: #36626a;
    padding: 10px 0;
}

.navbar-brand {
    padding-left: 5%;
    font-size: 1.5rem;
}

.navbar-toggler {
    border: 1px solid #fff;
}

.navbar-toggler-icon {
    background-color: #fff;
}

.navbar-nav {
    margin-left: auto;
}

.nav-item {
    margin-right: 20px;
}

.nav-link {
    color: #fff !important;
}

.nav-link:hover {
    color: #ccc !important;
}

h1 {
    color: #333;
    margin-left: 5%;
}

h2 {
    color: #333;
    margin-left: 7%;
    margin-top: 3%;
}

.books-list {
    list-style: none;
    padding: 0;
}

.book-item {
    background-color: #f1d18a;
    margin-bottom: 20px;
    border: 1px solid #f1d18a;
    padding: 10px 20px 0 20px;
    margin: 0 25px 20px 25px;
    border-radius: 15px;
}

.book-title {
    font-size: 1.2em;
    margin-bottom: 5px;
}

.book-author {
    color: #555;
}

.book-description {
    color: #777;
}


footer {
    padding: 1rem;
    text-align: center;
    bottom: 0;

}